<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniEat</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    
    <header>
        <div class="Img-Logo">
            <img src="~/img/Unieatnavbar1.png" alt="" width="150">
        </div>

        <ul class="@(ViewBag.MenuVisible)" id="Navlinks">        
            <li><a href="/Home/Menu">Menu</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="/Home/Orders">Orders</a></li>
            <li><a href="/Home/Profile">Profile</a></li>
            <li><a href="">Logout</a></li>    
        </ul>

        <ul class="@(ViewBag.MenuAdminVisible)" id="Navlinks">        
            <li><a href="/Home/AdminMenu">Menu</a></li>
            <li><a href="">Orders</a></li>
            <li><a href="/Home/Adminstudent">Students</a></li>
            <li><a href="">Logout</a></li>    
        </ul>

        <div class="menu-icon" onclick="toggleMenu()">☰</div>

    </header>



    <main class="@(ViewBag.ShowBg != false ? "Mainbg" : "")">
            @if(ViewBag.showbg != false){

            <div class="copy-right">
                <span>© Copyright 2026 UniEat | Sti College Rosario Student Portal</span>
            </div>
            }
            
        @RenderBody()
        
    </main>
    <script src="~/js/site.js"></script>
</body>
</html>