@{
    ViewBag.showbg = false;
}

@{
    ViewBag.MenuAdminVisible = "show-menu";
}

<div class="student-list">

    <div class="student-add-delete">

        <div class="list-txt">
            <h3>List of student</h3>
            <span>Students</span>  
        </div> 

        <div class="add-delete-btn">
            <button>Add</button>
            <button>Delete</button>

        </div>
    </div>

    <div class="search-student">
        <i class="fa-solid fa-magnifying-glass" style="color: rgb(0, 0, 0);"></i>

    </div>


</div>