@{
    ViewBag.showbg = false;
}

@{
    ViewBag.MenuAdminVisible = "show-menu";
}
<link rel="stylesheet" href="~/css/site.css">

<div class="admin-food-txt">
    <h1>Food</h1>
</div>

<div class="admin-food-container">

    <div class="Food-Card">
        <div class="Food-Info">
            <h2>Strawberry Shake</h2>
            <p class="Price">from ₱100</p>
            <p class="Description">Creamy blended strawberry milkshake.</p>
        </div>
        <div class="Food-Img-Container">
            <img src="https://tse1.mm.bing.net/th/id/OIP.K5YXGEgWEbtNYVgJL6I3FAHaE7?pid=Api&P=0&h=180" alt="Strawberry Shake">
            <button class="Soldout">Soldout</button>
        </div>
    </div>

    <div class="Food-Card">
        <div class="Food-Info">
            <h2>Strawberry Shake</h2>
            <p class="Price">from ₱100</p>
            <p class="Description">Creamy blended strawberry milkshake.</p>
        </div>
        <div class="Food-Img-Container">
            <img src="https://tse1.mm.bing.net/th/id/OIP.K5YXGEgWEbtNYVgJL6I3FAHaE7?pid=Api&P=0&h=180" alt="Strawberry Shake">
            <button class="Soldout">Soldout</button>
        </div>
    </div>

</div>