<link rel="stylesheet" href="~/img/site.css">
<div class="Log-in">
    <span>LOGIN TO YOUR ACCOUNT</span>
    <FORM>
        <input type="Student Id" placeholder="Student Id"  int required> 
        <input type="Password" placeholder="Password" required>
        <button onclick="window.location.href='/Home/AdminMenu'">Login</button>
    </FORM>
</div>