<link rel="stylesheet" href="~/css/site.css">
<div class="Log-in" >
    <span>LOGIN TO YOUR ACCOUNT</span>
    <FORM method="POST">
        <input type="Text" name="username" id="Username" placeholder="Student Id"  required> 
        <input type="Password" id="password" placeholder="Password" required>
        <button>Login</button>
    </FORM>
</div>