@{
    ViewBag.showbg = false;
    ViewBag.MenuVisible = "show-menu";
}

<link rel="stylesheet" href="~/css/site.css">

<div class="Order-txt">
    <H1>Orders</H1>
    <div class="line"></div>
</div>

<div class="Order-Container">

    <div class="Img-Unieat">
        <img src="~/img/Order.jpg" alt="">
    </div>
    
    <div class="Order-Detail">
        <div class="Order-Info">
            <h1>UniEat</h1>
            <p class="date">Delivered On March 18</p>
            <p class="description">Chicken mcdo with extra hot fudge chocolate sunday.</p>
        </div>

        <div class="Reorder">
            <H2>₱195</H2>
            <button class="Reorder-Btn">Reorder</button>
        </div>
        </div>

</div>