@{
    ViewBag.MenuVisible = "show-menu";
    ViewBag.showbg = false;
}



<link rel="stylesheet" href="~/css/site.css">

<div class="Profile-Bg">
    <img src="~/img/ProfileBg.png" alt="">
    <div class="Profile">

        <h2>My Profile</h2>
        
        <div class="Profile-Content">

            <div class="Profile-Img">
                <img src="~/img/Profile.png" alt="Profile">
            </div>
            
            <div class="Profile-Detail">
              <span>Name: <span class="UsersName">Noaqim Nasser J. Al Rawahi</span></span>
              <span>Student Id: <span class="Student-Id">2333332323123</span></span>
              <button class="Profile-Button" id="Editprofile">Edit Profile</button>
            </div>      

        </div>
    </div>
    
    <form class="Password-Pop-Up" id="PasswordPopup">
        <span>Change Password</span>
        <span class="Back" id="Close-Popup" onclick="closePopup()">x</span>
        <input type="password" class="Error" placeholder="Old Password" required>
        <input type="password" class="Error" placeholder="New Password" required>
        <input type="password" class="Error" placeholder="Confirm Password" required>
        <button type="submit" font-size="60px">Save</button>
    </form>
</div>

 