@{
    ViewBag.MenuVisible = "show-menu";
}

@{
    ViewBag.showbg = false;
}

<link rel="stylesheet" href="~/css/site.css">

<div class="Profile-Bg">
    <img src="~/img/ProfileBg.png" alt="">
</div>

<div class="Profile-Bg">
    <div class="Profile-Content">
        <img src="your-image.jpg" alt="Profile Background">
        <h1>Your Text Here</h1>
    </div>
</div>

 